# Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystem are summarized. IÂ´m triying to become a data science in genomics

**Objectives:**
- List popular languages for Data Science
- Examples of evaluating arithmetic expressions in Python
- Markdown
- JupyterLab

| Data Science Tools |
|--------------------|
|R studio            |
|JupyterLab          |
|Spider              |

In [4]:
### Below are a few examples of evaluating arithmetic expressions in Python

In [5]:
(3*4)+5
#This a simple arithmetic expression to mutiply then add integers

17